In [16]:
import pandas as pd
from similarity_data import similarity_data, clusters, countries

In [17]:
import pandas as pd

def visualize_similarity_pandas(similarity_data, countries, clusters):

    for region, country_list in countries.items():
        print(f"\n--- {region.upper()} ---")
        for category in clusters:
            print(f"\n**{category}**")
            if region not in similarity_data or category not in similarity_data[region]:
                print("Data not available for this region and category.")
                continue

            table_data = similarity_data[region][category]

            # Create a DataFrame
            df_data = {}
            for country1 in country_list:
                df_data[country1] = {}
                for country2 in country_list:
                    if country1 == country2:
                        df_data[country1][country2] = "-"
                    else:
                        pair = tuple(sorted([country1, country2]))
                        pair_str = "-".join(pair)
                        df_data[country1][country2] = table_data.get(pair_str, "N/A")

            df = pd.DataFrame(df_data)

            # Display the DataFrame (nicely formatted output)
            print(df.to_string()) # to_string() prevents truncation

visualize_similarity_pandas(similarity_data, countries, clusters)

--- AFRICA ---

**Economy**
             Kenya Nigeria SouthAfrica
Kenya            -   99.37        98.1
Nigeria      99.37       -       97.47
SouthAfrica   98.1   97.47           -

**Technology and Science**
             Kenya Nigeria SouthAfrica
Kenya            -   80.38       81.01
Nigeria      80.38       -       79.75
SouthAfrica  81.01   79.75           -

**Entertainment**
             Kenya Nigeria SouthAfrica
Kenya            -   60.13       60.76
Nigeria      60.13       -       59.49
SouthAfrica  60.76   59.49           -

**Lifestyle**
             Kenya Nigeria SouthAfrica
Kenya            -   70.89       58.23
Nigeria      70.89       -       57.59
SouthAfrica  58.23   57.59           -

**Accident**
            Kenya Nigeria SouthAfrica
Kenya           -    55.7        48.1
Nigeria      55.7       -       49.37
SouthAfrica  48.1   49.37           -

**Geopolitical**
             Kenya Nigeria SouthAfrica
Kenya            -   72.78       63.92
Nigeria      72.78       -       62.03
SouthAfrica  63.92   62.03           -

**Intellectualism**
             Kenya Nigeria SouthAfrica
Kenya            -   65.82       57.59
Nigeria      65.82       -       57.59
SouthAfrica  57.59   57.59           -

--- EUROPE ---

**Economy**
        Denmark     UK Finland
Denmark       -  92.41   88.61
UK        92.41      -   93.67
Finland   88.61  93.67       -

**Technology and Science**
        Denmark     UK Finland
Denmark       -   53.8   56.96
UK         53.8      -   50.63
Finland   56.96  50.63       -

**Entertainment**
        Denmark     UK Finland
Denmark       -  77.85   86.71
UK        77.85      -   73.42
Finland   86.71  73.42       -

**Lifestyle**
        Denmark    UK Finland
Denmark       -  50.0    48.1
UK         50.0     -    46.2
Finland    48.1  46.2       -

**Accident**
        Denmark     UK Finland
Denmark       -   51.9   49.37
UK         51.9      -   60.76
Finland   49.37  60.76       -

**Geopolitical**
        Denmark     UK Finland
Denmark       -  48.73   44.94
UK        48.73      -   43.67
Finland   44.94  43.67       -

**Intellectualism**
        Denmark    UK Finland
Denmark       -  50.0    44.3
UK         50.0     -    46.2
Finland    44.3  46.2       -

--- NORTH_AMERICA_AUSTRALIA ---

**Economy**
          Australia Canada    USA
Australia         -  94.94  96.84
Canada        94.94      -  95.57
USA           96.84  95.57      -

**Technology and Science**
          Australia Canada    USA
Australia         -  50.63   55.7
Canada        50.63      -  59.49
USA            55.7  59.49      -

**Entertainment**
          Australia Canada    USA
Australia         -  91.14  85.44
Canada        91.14      -  91.77
USA           85.44  91.77      -

**Lifestyle**
          Australia Canada    USA
Australia         -  68.35  72.15
Canada        68.35      -  65.19
USA           72.15  65.19      -

**Accident**
          Australia Canada    USA
Australia         -  74.05  79.75
Canada        74.05      -  74.68
USA           79.75  74.68      -

**Geopolitical**
          Australia Canada    USA
Australia         -  46.84  47.47
Canada        46.84      -  62.03
USA           47.47  62.03      -

**Intellectualism**
          Australia Canada    USA
Australia         -  58.23  70.25
Canada        58.23      -   55.7
USA           70.25   55.7      -

--- WEST_ASIA ---

**Economy**
            Malaysia Philippines Singapore
Malaysia           -       95.57     93.67
Philippines    95.57           -      94.3
Singapore      93.67        94.3         -

**Technology and Science**
            Malaysia Philippines Singapore
Malaysia           -       67.72     60.76
Philippines    67.72           -     63.29
Singapore      60.76       63.29         -

**Entertainment**
            Malaysia Philippines Singapore
Malaysia           -       78.48     81.65
Philippines    78.48           -     91.77
Singapore      81.65       91.77         -

**Lifestyle**
            Malaysia Philippines Singapore
Malaysia           -       62.66     52.53
Philippines    62.66           -      44.3
Singapore      52.53        44.3         -

**Accident**
            Malaysia Philippines Singapore
Malaysia           -       52.53     49.37
Philippines    52.53           -     47.47
Singapore      49.37       47.47         -

**Geopolitical**
            Malaysia Philippines Singapore
Malaysia           -       76.58     55.06
Philippines    76.58           -     50.63
Singapore      55.06       50.63         -

**Intellectualism**
            Malaysia Philippines Singapore
Malaysia           -       58.86     66.46
Philippines    58.86           -     55.06
Singapore      66.46       55.06         -